<h1>Recent palindromes:</h1>
<ol>
<% if @palindromes.any? %>
  <% @palindromes.each do |palindrome| %>
    <li> <%= palindrome.text %> </li>
    <br>
  <% end %>
<% else %>
  No palindromes added recently
<% end %>
</ol>
<br>
<br>
<a href='/palindromes/new'>Add a palindrome</a>
