<% if @palindromes.any? %>
  <% @palindromes.each do |palindrome| %>
    <h2> <%= palindrome.text %> </h2>
  <% end %>
<% else %>
  No palindromes yet
<% end %>

<a href='/palindromes/new'>Add a palindrome</a>
